
:root {
    background-image: url(/.assets/img/background.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    letter-spacing: -0.011em;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* background-image: url(/.assets/img/background-dark.jpg); */
    }
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body > main {
    color: #FAFAFA;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 32px rgba(0, 0, 0, .5);
}

body > main p {
    display: block;
}

body > main header {
    background: rgba(0, 0, 0, .5);
    padding: 1.25em 2em;
    backdrop-filter: saturate(180%) blur(20px);
}

body > main header h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 200;
    letter-spacing: -0.022em;
}

body > main header p {
    margin-top: 0.2em;
}

body > main .content {
    background: var(--color-background);
    color: var(--color-foreground);
    padding: 8px 16px;
}

body > main .content :first-child {
    margin-top: 0;
}

body > main .content :last-child {
    margin-bottom: 0;
}

body > main ul {
    display: flex;
    padding: 0;
    margin: 0.6em 0;
    justify-content: center;
    align-items: center;
}

body > main ul li {
    display: block;
}

body > main ul li a {
    display: flex;
    color: var(--color-foreground);
    border: none;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 100px;
    transition: background .1s, color .1s;
    justify-content: center;
    align-items: center;
}

body > main ul li a:hover {
    border: none;
    background: var(--color-accent-light);
    color: #FAFAFA;
}

body > main ul li a:active {
    background: var(--color-foreground);
    color: var(--color-background);
}

body > main ul li a > svg {
    padding-right: 0.5em;
}

body > main footer {
    font-size: 14px;
}

@media screen and (max-width: 500px) {
    :root {
        background: none;
    }

    body {
        min-height: unset;
        display: block;
    }

    body > main {
        width: none;
        min-width: none;
        max-width: none;
        box-shadow: none;
        border-radius: 0;
    }

    body > main header {
        padding: 1.5em;
        backdrop-filter: none;
    }

    body > main .content {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    body > main ul {
        flex-direction: column;
        align-items: stretch;
        margin-bottom: 1.5em;
    }

    body > main ul li a {
        justify-content: flex-start;
        margin: 0 -1em;
    }

    body > main header h1 {
        font-size: 2.5rem;
        letter-spacing: -0.022em;
    }
}
